.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.channelsMenu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 50px 0 50px;
}

.channelsMenuItem {
  cursor: pointer;
  background-color: lightgray;
  flex: 1;
  text-align: center;
  border: 1px solid white;
}

.channelsMenuItemSelected {
  background-color: gray;
  color: white;
  font-weight: bold;
}

.channelMessages {
  background-color: lightsteelblue;
}

.channelMessagesItem {
  padding: 10px;
  border-bottom: 2px solid white;
}

.newMessageForm {
  display: flex;
  flex-direction: column;
}
